#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: unset;
}
.board{
  display: grid;
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  justify-content: center;
  color: #f8f8f8;
  border-bottom: 1px solid #3a3a3c;
  margin-bottom: 50px;
  h1{
    font-family: "nyt-karnakcondensed";
    font-weight: 700;
    font-size: 36px;
    letter-spacing: .01em;
  }
}